* {
    margin: 0;
    padding: 0;
}

.nav{
    height: 50px;
    width: 800px;
    margin: 0 auto;
    background:#C4FCEF;
 }
 ul li{
    list-style: none;
    /* 去掉列表的点  */
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 .li1{
    background-color: #4D8076;
 }
 .nav>li{
    position: relative;
    float: right;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 55px;
    color: #4B4453;
    cursor: pointer;
    font-weight: bold;
 }
 .nav>li:hover{
    color: #FEFEDF;
    background-color:#4D8076;
 }
/* 以上为导航栏 */

.divBox{
    margin:0 auto;
    width: 800px;
    height:500px;
}
.left{
    float:left;
    width:200px;
    height:100%;
    background-color: #0081CF;
}
.right{
    margin-left:200px;
    height:100%;
    background-color: #00C9A7;
}
